<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlivcLicenseFile</key>
	<string>license.crt</string>
	<key>AlivcLicenseKey</key>
	<string>7od4xPYaUwm4scy4t57cd70e56f2d4196aed4167e6e4174c9</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>上传图片/视频功能需要您授予相册访问权限</string>
	<key>NSCameraUsageDescription</key>
    <string>拍照/拍视频上传功能需要您授予相机权限</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>录视频/录音上传功能需要您授予麦克风权限</string>
</dict>
</plist>
